.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--current-line);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.skills h2 {
  color: var(--pink);
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  width: 100%;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.skills li {
  color: var(--foreground);
  background-color: var(--background);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skills li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .skills {
    padding: 20px;
    margin-bottom: 20px;
  }

  .skills h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }

  .skills ul {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .skills li {
    padding: 8px 20px;
    font-size: 0.8em;
  }
}