.about {
  background-color: var(--current-line);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.about h1, h2, h3 {
  color: var(--foreground);
  font-family: 'Fira Code', monospace;
}

.about p {
  color: var(--comment);
  line-height: 1.6;
  font-family: 'Fira Code', monospace;
}

 .about p strong {
  color: var(--green);
}

.btn {
  display: inline-block;
  background-color: var(--pink);
  color: var(--foreground);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Fira Code', monospace;
}

.btn:hover {
  background-color: var(--purple);
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 20px;
    margin-bottom: 20px;
  }

  .about h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .about p {
    font-size: 0.9em;
  }

  .btn {
    padding: 8px 16px;
  }
}