.functions {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  z-index: 1000;
}

.functions button {
  background-color: var(--purple);
  color: var(--foreground);
  border: none;
  border-radius: 20px;
  padding: 6px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
  width: 30px;
  height: 30px;
}

.functions button:hover {
  background-color: var(--pink);
  transform: scale(1.05);
}

.functions button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.4);
}

.functions button.flipped {
  transform: rotateY(180deg);
}

.functions button span {
  position: absolute;
  backface-visibility: hidden;
}

.functions button span.front {
  z-index: 2;
}

.functions button span.back {
  transform: rotateY(180deg);
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .functions button {
    width: 90px;
    height: 50px;
    font-size: 18px;
  }
}
