.backend-interests-hobbies {
  background-color: var(--current-line);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.backend-interests-hobbies h3 {
  color: var(--pink);
  font-family: 'Fira Code', monospace;
  margin-bottom: 20px;
}

.backend-interests-hobbies h4 {
  color: var(--cyan);
  margin-bottom: 5px;
  font-family: 'Fira Code', monospace;
}

.backend-interests-hobbies p {
  color: var(--comment);
  line-height: 1.6;
  text-align: justify;
  font-family: 'Fira Code', monospace;
}

.backend-interests-hobbies ul {
  list-style: none;
}

.backend-interests-hobbies li {
  color: var(--foreground);
  margin-bottom: 20px;
}

.backend-interests-hobbies .interest-item {
  background-color: var(--current-line);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 650px;
}

@media only screen and (max-width: 600px) {
  .backend-interests-hobbies {
    padding: 20px;
    margin-bottom: 20px;
  }

  .backend-interests-hobbies h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }

  .backend-interests-hobbies h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .backend-interests-hobbies h4 {
    font-size: 1em;
  }

  .backend-interests-hobbies p {
    font-size: 0.9em;
  }

  .backend-interests-hobbies .interest-item {
    padding: 15px;
    width: 200px;
  }
}
