.footer {
  background-color: var(--current-line);
  color: var(--foreground);
  padding: 20px 20px;
  font-family: 'Fira Code', monospace;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: var(--foreground);
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--pink);
}

.footer-info {
  text-align: center;
}

.footer-info p {
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 15px;
  }

  .footer-content {
    align-items: center;
  }

  .social-icons {
    margin-bottom: 10px;
  }

  .social-icons a {
    font-size: 20px;
    margin: 0 8px;
  }

  .footer-info p {
    font-size: 0.7em;
    margin: 2px 0;
  }
}