
.certificado{
    width: 21vw;
    height: 16vw;
}
.descricao{
    font-size: 1.5vw;
}
.certificados {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
}
.certificados1 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.certificados2 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
}

.certificados3 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
    top: 28vw;
}

.certificados4 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 28vw;
}

.certificados5 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
    top: 28vw;
}

.certificados6 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
    top: 51vw;
}

.certificados7 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 51vw;
}

.certificados8 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
    top: 51vw;
}

.certificados9 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
    top: 78vw;
}

.certificados10 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 78vw;
}

.certificados11 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
    top: 78vw;
}

.certificados12 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
    top: 103vw;
}

.certificados13 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 103vw;
}

.certificados14 {
    text-align: center;
    color: #fff;
    float: left;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
    top: 103vw;
}