.capa {
  background-image: url("https://nossaenergia.petrobras.com.br/media/uploads/posts_tiny/2021/10/Header_Materias_TECNOLOGIA_v3_eventos_1.png.1920x0_q85_crop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-width: 100%;
}

.entrada {
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 2vw;
  padding: 0.8vw;
  width: 33vw;
  height: 22vw;
}

.foto {
  position: absolute;
  float: left;
  border-radius: 60vw;
  height: 5vw;
  width: 5vw;
}

.nome {
  float: left;
  position: absolute;
  top: 2.3vw;
  left: 7vw;
  font-size: 2vw;
  font-family: cursive;
}

.descricao {
  position: absolute;
  top: 7vw;
  font-size: 0.9vw;
}

.whats {
  position: absolute;
  color: black;
  top: 1.3vw;
  left: 27vw;
  font-size: 0.7vw;
}

.linkedin {
  position: absolute;
  color: black;
  top: 2.4vw;
  left: 27vw;
  font-size: 0.7vw;
}

.git {
  position: absolute;
  color: black;
  top: 3.5vw;
  left: 27vw;
  font-size: 0.7vw;
}

.email {
  position: absolute;
  color: black;
  top: 4.6vw;
  left: 27vw;
  font-size: 0.7vw;
}

.bt1 {
  position: absolute;
  left: 25%;
  transform: translateX(-75%);
  top: 17.5vw;
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 0.9vw;
  background-color: rgb(54, 54, 54);
  box-shadow: 0vw 0vw 0.3vw 0.3vw #00c3ff;
  display: flex;
  border-radius: 0.2vw;
  padding: 0.3vw;
  width: 4.5vw;
  height: 2.2vw;
}

.bt1:hover, .bt2:hover, .bt3:hover {
  color: #fff;
 } 

.bt2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17.5vw;
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 0.9vw;
  background-color: rgb(54, 54, 54);
  box-shadow: 0vw 0vw 0.3vw 0.3vw #00c3ff;
  display: flex;
  border-radius: 0.2vw;
  padding: 0.3vw;
  width: 4.5vw;
  height: 2.2vw;
}

.bt3 {
  position: absolute;
  left: 75%;
  transform: translateX(-25%);
  top: 17.5vw;
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 0.9vw;
  background-color: rgb(54, 54, 54);
  box-shadow: 0vw 0vw 0.3vw 0.3vw #00c3ff;
  display: flex;
  border-radius: 0.2vw;
  padding: 0.3vw;
  width: 4.5vw;
  height: 2.2vw;
}